@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (Model.Movies.Count == 0)
{
    <text>No on has rented this movie yet.</text>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Movie</th>
        </tr>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>@movie.Name</td>
            </tr>
        }
    </table>
}


